body {
    margin: 0px;
    overflow: hidden;
    background: url(./images/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#taskbar {
    background: #0000006c;
    width: 100%;
    height: 50px;
}
#taskbar button {
    width: 45px;
    height: 45px;
    background: #80808000;
    color: white;
    outline: none;
    border: 2px solid #242424;
}
#windows iframe {
    width: 100%;
    height: 53em;;
    position: absolute;
    background: white;
    border: none;
    position: absolute;
    margin: 50px 0px;
}
#windows p {
    font-family: arial;
    color: white;
    position: absolute;
    margin: 0px 100px;
}
#windows div {
    background: linear-gradient(90deg, #4e4e4e, #5a5a5a);
    width: 100%;
    height: 900px;
    box-shadow: #0000006b 10px;
    position: absolute;
    transition: 0.1s;
}
#windows button {
    position: absolute;
    width: 30px;
    height: 30px;
    color: white;
    background: red;
    border: none;
    outline: none;
    transition: 0.2s;
}
#windows button:hover {
    background: white;
    color: red;
    border-radius: 0%;
}